html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, nav {
  color: rgb(70, 76, 105);
}

section {
  padding: 60px;
}

#rationale, #roadmap {
  font-size: 1.3em;
  background-color: #f8f9fc;
  color: #8492a6;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef
}

.uk-logo {
  color: rgb(70, 76, 105);
}

.uk-navbar-nav > li > a {
  color: rgb(70, 76, 105);
}

.uk-subnav-pill >*>:first-child {
  color: rgb(70, 76, 105);
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: rgba(255,255,255,.98);
}

.uk-card-secondary {
  background: #464c68;
}